article[popover]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
}

[popover] {
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
}

p {
  line-height: 1.5;
}
